<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buykart</title>
    <script src="/public/Js/style.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/public/Css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <!-- Navigation Component Placeholder -->
    <div id="nav_buykart-placeholder"></div>
     <div class="flex items-center justify-center h-[calc(100vh-100px)]">
        <h2>Welcome to website</h2>
    </div>
    
</body>
</html>